body {
    margin: 0;
    padding: 0;
    
}

/* *********navbar******* */
#header {
    background-color: #015668;
}
.navbar {
    padding: 3rem 2rem;
    font-size: 1.1em;
}

/* **********Home************* */
#home {
    background-color: #015668;
    }
.container-sm {
    padding-bottom: 10rem;
}


.home-data {
    display: grid;
    align-content: center;
    justify-items: center;
    position: relative;
}

.home-data img {
    position: absolute;
    width: 15rem;
    height: auto;
    left: 16%;
    top: 100px;
}

.home-text {
    overflow: hidden;
    width: 40rem;
    margin-top: 120px;
    margin-bottom: 8rem;
    border-radius: 15px;
    background-color: #039ab8;
    color: white;
    padding: 20px 20px 20px 200px;
}

@media (max-width: 1201px)
{
    .home-data img {
        left: 10%;
    }
}


@media (max-width: 995px) 
{
    .home-data {
        position: static;
    }
    .home-data img {
        width: 15rem;
        position: static;
        margin-top: 2%;
    }
    .home-text {
        width: 70%;
        padding: 2% ;
        margin-top: 20px;
        text-align: center;
        
    }
}




 