body {
    margin: 0;
    padding: 0;


}
a:hover {
    color: rgb(126, 126, 126);
}


/* *********navbar******* */
#header {
    background-color: #015668;
}

.navbar {
    padding: 1rem 3rem 1rem;
    font-size: 1.1em;
    background-color: #00404d;
}
.navbar button {
    background-color: #015668;
   
}
.nav-link
{
    color: white;
}


/* **********Home************* */
#home {
    background-color: #015668;
    padding-top: 5rem;

}

.home-data {
    display: grid;
    align-content: center;
    justify-items: center;
    position: relative;
}

.home-data img {
    position: absolute;
    width: 15rem;
    height: auto;
    left: 15%;
    top: 105px;
}

.home-text {
    overflow: hidden;
    width: 40rem;
    margin-top: 120px;
    margin-bottom: 8rem;
    border-radius: 15px;
    border: 2px solid #039ab8;
    background-color: #067991;
    color: white;
    padding: 20px 20px 20px 200px;
}


.home-text hr {
    border: 1px solid white;
}

@media (max-width: 1199px) {
    .home-data img {
        left: 8%;
    }
    
}


@media (max-width: 995px) {
    .home-data {
        position: static;
    }

    .home-data img {
        width: 15rem;
        position: static;
        margin-top: 7%;
    }

    .home-text {
        width: 70%;
        padding: 1rem 2rem 10px;
        margin-top: 20px;
        text-align: center;
    }
}


/*********About me *********/

#about-me {
    line-height: 1.6;
    color: white;
    background-color: #DC3545;
}

.about-text {
    background-color: #fd3549;
    border-radius: 15px;
    border: 1px solid #fa6e7c;
}

.top-text {
    width: 50%;
    margin: 2rem auto;
}


#about-me hr {
    border: none;
    border-top: 10px dotted #ff5264;
    width: 9%;
}
@media (max-width: 600px) {
    .top-text {
        width: 70%;
        text-align: left;
    }
    
}

